.menu-options-m {
    height: 100vh;
    width: 320px;
    position: fixed;
    top: 0;
    left: -350px; 
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    z-index: 1000;
    transition: left 0.3s ease;
    padding-left: 30px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    pointer-events: auto;
    transition: opacity 0.3s ease;
}

.menu-options-m.active {
    left: 0; 
}
.ul-options{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    margin-top: 40px;
    margin-left: 0;
    padding: 0;
}
.options-m-consultants{
    cursor: pointer;
}
.options-m{
    width: 200px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 18px 0 16px 0;
    font-size: x-large;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: rgba(134, 33, 33, 0.74);
    /* border-bottom: solid 1px #E1E5EE; */
    text-decoration: none;
    cursor: default;
}

.menu-user-menuOption{
    margin-top: 20px;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.menu-user-menuOption-icon{
    margin: 0 10px 0 0;
    height: 50px;
    width: 50px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-user-menuOption-name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 35px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    font-optical-sizing: auto;
    border-radius: 0.5em;
}


.ul-options-myData{
    padding: 0 0 0 10px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.ul-options-myData-li{
    font-size: medium;
    font-optical-sizing: auto;
    color: rgb(80, 80, 80);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    
}
.li-mydata{
    margin-top: 0;
    margin-bottom: 13px;
}
.li-scheduleAppoiment{
    margin-bottom: 13px;
}



.ul-options-help{
    padding: 0 0 0 10px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.ul-options-help-li{
    font-size: medium;
    font-optical-sizing: auto;
    color: rgb(80, 80, 80);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
}
.li-help-list{
    margin-top: 0;
    margin-bottom: 13px;
}
.li-help{
    margin-bottom: 13px;
}

.menu-user-menuOption-button-login{
    font-size:x-large;
    text-decoration: none;
    margin-top: 40px;
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    color: rgb(80, 80, 80);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
}

.container-logout{
    margin-top: 30px;
    cursor: pointer;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}