.Toastify__toast {
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    font-family: "Tsukimi Rounded", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .Toastify__toast--success {
    background: rgb(140, 181, 201);
    color: #fff; 
    font-family: "Tsukimi Rounded", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .Toastify__toast--error {
    background: #dc3545;
    color: #fff;
    font-family: "Tsukimi Rounded", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .Toastify__toast--info {
    background: #17a2b8;
    color: #fff;
    font-family: "Tsukimi Rounded", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .Toastify__progress-bar {
    background: #fff;
    font-family: "Tsukimi Rounded", serif;
    font-weight: 400;
    font-style: normal;
  }