
.content-filters{
    margin-top: 1%;
    width: 280px;
}
.content-filters p{
    margin: 20px 0 15px 5px;
    display: flex;
    justify-content: left;
    font-family: "DM Serif Display", serif;
    font-weight: 700;
    font-style: normal;
}
.name-search-filter-user{
    margin: 5px 0 10px 0;
    height: 40px;
    width: 98%;
    display: flex;
    align-items: center;
    border: 0.1px solid #4a3c31;
    border-radius: 1em;
}
.name-search-filter-user input{
    height: 100px;
    width: 85%;
    background-color: inherit;
    border: none;
    outline: none;
    margin-left: 2px;
    color: rgb(134, 33, 33);
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
}


.icon-filters-user {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24;
  color: #4a3c31;
  margin-left: 5px;
}

.specialty-filters-user{
    margin: 2px 2px 15px 2px;
    width: 98%;
    display: flex;
    flex-direction: column;
}
.specialty-filters-user div{
    display: flex;
    justify-content: left;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}
.specialty-filters-user input[type="checkbox"]{
    accent-color: #4a3c31;
}

.value-filters-user{
    margin: 2px;
    height: 50px;
    width: 98%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.min-filter-user, .max-filter-user{
    height: 100%;
    width: 40%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.min-filter-user label, .max-filter-user label{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;

}

.min-filter-user input, .max-filter-user input{
    margin: 2px 0 0 0 ;
    padding: 0;
    width: 90%;
    height: 40%;
    outline: none;
    border: 0.1px solid #4a3c31;
    border-radius: 0.3em ;
    color: rgb(134,33, 33);
}

@media (max-width:1250px){
    .content-filters{
        margin-left: 15px;
    }
}