.container-scheduledAppointments-noItmes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100vw;
    font-size: larger;
}
.container-scheduledAppointments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100vw;   
}
.content-scheduledAppointments{
    border-radius: 1em;
    background-color: rgb(208, 225, 233);
    height: 700px;
    width: 700px;
    padding: 0 50px 0 50px;
}
.title-schedule-appoiment{
    margin: 20px 0 20px 0;
    font-size:x-large;
}

.container-schedule-item{
    margin-bottom: 15px;
    padding: 0 15px 0 20px;
    height: 90px;
    width: 660px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px rgb(131, 151, 150);
}
.content-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size:12px;
}
.date-time{
    display: flex;
    width:200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.date-time p{
    width: 100px;
    margin:0;
}
.specialty-item-scheduleAppoiment{
    margin:0;
    width: 150px;
    font-size: medium;
    font-weight: 600;
}
.content-time-status{
    margin-top:8px;
    width: 150px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.duracao{
    margin-right: 10px;
}
.status-schedule-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 70px;
    margin: 0;
    background-color: inherit;
    border-radius: 2em;
    border: 2px solid green;
    color: green;
}
.content-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.value-consultation{
    font-size: medium;
    font-weight: 600;
    margin-right: 20px;
    color: rgb(25, 34, 34);
}
@media(max-width: 930px) {
    .container-scheduledAppointments{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    .content-scheduledAppointments{
        margin-top: 55px;
        border-radius: 1em;
        background-color: rgb(208, 225, 233);
        height: 100%;
        width: 100vw;
        padding: 0 50px 0 50px;
        display: flex;
        align-items: start;
        justify-content: center;
       
    }
    .content-main-scheduledAppointments{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 90%;
        
    }
    .container-schedule-item{
    margin-bottom: 15px;
    padding: 0 15px 0 20px;
    height: 90px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px rgb(131, 151, 150);
    }
    .content-left{
        width: 250px;
    }
    .content-right{
        width: 150px;

    }
}
 
@media(max-width:620px){
    
    .content-main-scheduledAppointments{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 90%;
        
    }
    .container-schedule-item{
    margin-bottom: 15px;
    padding: 0 15px 0 20px;
    height: 90px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px rgb(131, 151, 150);
    }
}

@media(max-width:319px){
    .content-main-scheduledAppointments{
        display: none;
    }
    .container-scheduledAppointments-noItmes{
        display: none;
    }

}
@media(max-width:340px){
    
}
